
# added by GitSavvy
/SLMobile.xcodeproj/xcuserdata/gerardvh.xcuserdatad/xcdebugger/

# added by GitSavvy
/SLMobile.xcodeproj/project.pbxproj

# added by GitSavvy
/SLMobile/SLAuth.swift

# added by GitSavvy
/SLMobile.xcworkspace/xcuserdata/
